.anchorButton{
    text-decoration:none;
    background:linear-gradient(45deg,tomato,orange);
    border-radius:5px;
    color: azure;
    padding:10px 30px;
    font: weight 800px;;
}

 body{
    font-family: 'Luxurious Roman', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Volkhov', serif;
}
h1{
    font-size:50px;
}

.half-width-div{
    width:50%;
    margin-left:8%;
    padding-left:10%;

}
#leftBorder-line{

    border-left: 1mm ridge rgba(0, 0, 0, 0.6);
}


.half-width-div img{
    width:80%;
}
.flexible-container-div{
    display:flex;
   

}
.orange-color{

    color:orange;
}

.three-border-in-div{
    margin:20px 10px;
    padding:4%;
    border-radius: 5px;
    box-shadow: 5px 7px 40px 
    gray;
   
    width: 25% ;
   
     
}    
.image-size{
    width:40%;
}
.background1{
background-color: lightskyblue;
}
.background2{
background-color: linen;
}
.background3{
    background-color: mediumspringgreen;

}